on:
  pull_request:
    paths:
      - AppUpdater.swift
      - .github/workflows/ci.yml
jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        xcode: [^10, ^11, ^12]
        conf: [release, debug]
    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{ matrix.xcode }}
    - uses: actions/checkout@v2
    - run: swift build --configuration ${{ matrix.conf }} -Xswiftc -warnings-as-errors
